.open-menu {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: $white-openMenu ;
  animation: opacityMenu 0.5s forwards;

  @keyframes opacityMenu {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


@keyframes transformMenu {
    0% {
      transform: translateX(-150%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .conteinet {
    z-index: 5;
    -webkit-box-shadow: 2px 3px 99px 7px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 3px 99px 7px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 3px 99px 7px rgba(0, 0, 0, 0.35);
    max-width: 360px;
    height: 100%;
    background-color: $white-virgin;
    transform: translateX(-150%);
    animation: transformMenu 1s forwards;

    nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-top: 16px;

      span {
        font-family: 'TT Lakes';
        font-weight: 500;
      }

      div a {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 8px;
        margin: 0;
        letter-spacing: -0.2px;
        color: black;
      }

      .menu-block-base {
        gap: 16px;
      }

      .block-logo {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 100%;
        align-items: center;

        margin-left: 16px;

        .manu__circle{
          :nth-child(1){
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;
            /*display: none;*/
          }
        }

      }

      .block-logo__modifier {
        gap: 16px;
      }

      .block-group {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        padding-right: 16px;

        a{
          &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(2), span{
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;
            /*display: none;*/
          }
        }
      }
    }

    .block-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 24px;
      margin-top: 32px;
      height: 80vh;

      .menu-naw {
        display: flex;
        flex-direction: column;

        ul {
          display: flex;

          li {
            position: relative;

            a {
              position: relative;
              display: block;
              margin-bottom: 32px;
              overflow: hidden;
              color: black;
            }

            &:hover {
              content: "";
              position: relative;
              border: 1px solid $frames-color;
              background-color: $frames-color;
              height: 32px;
              width: 5px;
              margin-left: -24px;
              margin-bottom: 23.2px;
              margin-top: -5px;
              border-top-right-radius: 4px;
              border-end-end-radius: 4px;

              a {
                color: $gray-activeButton;
                padding: 0;
                width: 400px;
                margin-top: 4px;
                margin-left: 23.3px;
                overflow: hidden;
              }
            }
          }
        }
      }

      .menu-footer {
        margin-bottom: 16px;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;
          padding-top: 8px;
          margin-right: auto;
        }

        ul {

          li {
            padding-top: 16px;

            &:nth-child(1) {
              &:hover {
                color: $gray-activeButton;
              }
            }

            &:nth-child(2) {
              font-size: 24px;
              font-family: 'TT Lakes';
              font-weight: 700;
              letter-spacing: -0.6px;
              line-height: 32px;
              margin: 0;

              &:hover {
                color: $gray-activeButton;
              }

            }

            &:nth-child(3) {
              display: flex;
              gap: 7px;

              button {

                &:hover {
                  color: $gray-activeButton;
                }
              }
            }
          }
        }
      }
    }
  }
}
